:root {
  --circle-animation-speed: 3s;
}

@keyframes pingPong {
  0%,
  100% {
    transform: translate3d(0, -1%, 0);
  }

  50% {
    transform: translate3d(0, 1%, 0);
  }
}

circle {
  position: absolute;
  animation: pingPong var(--circle-animation-speed) infinite;
}