:root {
  --circle-fill: rgb(0, 0, 255);
  /* --circle-animation-speed: 1s; */
}

/* @keyframes pingPong {
  0%,
  100% {
    transform: translate3d(-5%, 0, 0);
  }

  50% {
    transform: translate3d(5%, 0, 0);
  }
} */

circle {
  position: absolute;
  /* animation: pingPong var(--circle-animation-speed) infinite; */
  fill: var(--circle-fill);
}